$iphone5: "(min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";
$iphone6: "(min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";
$iphone6Plus: "(min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait)";

$galaxyS4: "(device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)";
$galaxyS5: "(device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)";


@media #{$iphone5} {
  .header-open {
    width: 100%;
    height: 328px;
    padding: 0;
    margin: 0;
    background: url(../img/header-open-background.jpg) top center;
    background-size: cover;
  }
  /*.list-featured-user-home {
    width: 100%;
    .item.item-avatar {
      padding-top: 40px;
      img {
        margin-top: 25px;
        top: 6px;
        left: 6px;
        max-width: 50px;
        max-height: 50px;
      }
      h2 {
        font-size: 14px;
      }
      p {
        font-size: 11px;
        margin-left: 0px;
      }
    }
  } */
}
@media #{$iphone6} {
  .header-open {
    width: 100%;
    height: 328px;
    padding: 0;
    margin: 0;
    background: url(../img/header-open-background.jpg) top center;
    background-size: cover;
  }
}

@media #{$iphone6Plus} {
  .header-open {
    width: 100%;
    height: 398px;
    padding: 0;
    margin: 0;
    background: url(../img/header-open-background.jpg) top center;
    background-size: cover;
  }
  .button-add-order {
    margin: 70px auto !important;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    position: absolute;
    top: 284px;
    right: 50%;
    margin-right: -39px !important;
  }
}