<ion-pane>
  <ion-content scroll="false" class="landing-bg">
    <div class="row">
      <div class="col">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col col-center">
        <div class="logo text-center">
          <img src="img/logo.png" alt="">
        </div>
        <div class="row">
          <div class="col col-80 col-offset-10">
            <button class="button button-stable button-block" ui-sref="auth.signin">
              Login com E-mail
            </button>
            <button class="button social-button-facebook button-block" style="font-weight: normal" ng-click="fbLogin()" disabled>
              Login com Facebook
            </button>
            <button class="button button-royal button-block" ui-sref="auth.signup">
              Não é cadastrado? Cadastre-se
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-pane>