<ion-content overflow-scroll="true">
  <div class="row row-no-padding">
    <div class="col col-no-padding">
      <div class="header-open"></div>
      <button class="button button-circle button-add-order" style="padding: 14px">

        <!-- <img src="../img/icon-ballon.png" alt=""> -->
        <i class="fa fa-plus fa-3x"></i>
      </button>
    </div>
  </div>
  <div class="row row-no-padding" style="margin-bottom: 5px">
    <div class="list list-card list-featured-user-home">
      <div class="item item-avatar">
        <img src="http://placehold.it/168x168" alt="">
        <h2>Olá Usuário</h2>
        <p>O status do seu pedido atual é: <span class="label label-green">Entregue</span></p>
      </div>
    </div>
  </div>
  <div class="row row-no-padding">
    <div class="col-50 col-feat-home-product">
      <h3>
        Comes
      </h3>
      <img src="img/bolos-home.jpg" alt="">
    </div>
    <div class="col-50 col-feat-home-product">
      <h3>
        Bebes
      </h3>
      <img src="img/decoracao-home.jpg" alt="">
    </div>
  </div>
  <div class="row row-no-padding" style="margin-top: 0px">
    <div class="col-50 col-feat-home-product">
      <h3>
        Utensílios
      </h3>
      <img src="img/decoracao-home.jpg" alt="">
    </div>
    <div class="col-50 col-feat-home-product">
      <h3>
        Decoração
      </h3>
      <img src="img/bolos-home.jpg" alt="">
    </div>
  </div>
  <div class="row row-no-padding" style="margin-top: 0px">
    <div class="col-50 col-feat-home-product">
      <h3>
        Atrações
      </h3>
      <img src="img/decoracao-home.jpg" alt="">
    </div>
    <div class="col-50 col-feat-home-product">
      <h3>
        Espaços
      </h3>
      <img src="img/bolos-home.jpg" alt="">
    </div>
  </div>
</ion-content>

