<ion-content overflow-scroll="true">
  <div class="row row-no-padding" ng-class="{'opened-menu': menuOpen}">
    <div id="nav-icon4" class="button-sidemenu" ng-click="openMenu()" ng-class="{'open': menuOpen}">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div ui-view=""></div>
    <div class="sidemenu">
      <ul class="main-nav">
        <li><a href="#">Meus Dados</a></li>
        <li><a href="#">Meus Pedidos</a></li>
        <li><a href="#">Bolos</a></li>
        <li><a href="#">Doces</a></li>
        <li><a href="#">Salgados</a></li>
        <li><a href="#">Bebidas</a></li>
        <li><a href="#">Utensílios</a></li>
        <li><a href="#">Decorações</a></li>
        <li><a href="#">Atrações</a></li>
        <li><a href="#">Espaços</a></li>
      </ul>
      <ul class="section-nav">
        <li><a href="#">Fale Conosco</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Termos de Uso</a></li>
      </ul>
    </div>
  </div>
</ion-content>