<ion-content overflow-scroll="false">
  <div class="row row-no-padding">
    <div class="col col-no-padding">
      <div class="mini-header">
        <img src="img/icon-ballon.png" height="85%" class="pull-right" style="margin: 5px 10px">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ion-content scroll="true" style="margin-top: 87px">
        <div class="col-33 col-offset-33">
          <img src="http://placehold.it/128pxx128px" alt="" class="img-circle">
          <h3>Olá</h3>
        </div>
      </ion-content>
    </div>
  </div>
</ion-content>